# Dependencies
node_modules

# Build output
dist
src-tauri/target
src-tauri/gen

# macOS metadata
.DS_Store

# Local secret backups
Backup Github App Secrets/
.gnosis-tms/secrets/

# Apple signing artifacts
developerID_application.cer
CertificateSigningRequest.certSigningRequest
Certificates.p12
signingCerts/
src-tauri/icons/*.icon/
